.Container {
  max-width: 70em;
  margin: 0 auto;
}

.Stats-container {
  text-align: left;
}

.Select-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
  margin-bottom: 10px;
}
