@media (max-width: 768px) {

  .recharts-legend-wrapper {
    width: 370px !important;
    bottom: -5px;
  }

  .recharts-wrapper {
    width: auto !important;
  }

  .recharts-wrapper > .recharts-surface {
    position: absolute;
    top: 10px;
    left: -60px;
  }
}
